@model CategoriesViewModel

<p class="lead muted">
    With this Application you can buy your favorite flower as a gift or for your home, it's up to you! Check out our store by
    choosing a category!
</p>

<ul class="nav nav-tabs">
    @foreach (var c in Model.Categories)
    {
        <li class="@c.Selected">
            <a asp-controller="Home" asp-action="Category" asp-route-catName="@c.Name">@c.DisplayName</a>
        </li>
    }
</ul>

<ul class="thumbnails">
    @Html.Partial("FlowerList", Model.FlowerList)
</ul>
